
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #333;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
    margin: 0;
    justify-content: center;
    align-items: center;

}

header h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

form {
    background: #363535af; /* Semi-transparent black background */
    color: #fff; /* White text for better readability */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: 1px solid #555; /* Slight border for definition */
}

form label {
    margin-top: 20px;
    font-weight: normal;
}

form select {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    background: #333; /* Darker background for inputs */
    color: #fff; /* White text color for inputs */
    border: 1px solid #5f5c5caf; /* Dark border for inputs */
    border-radius: 4px; /* Rounded corners for inputs */
    appearance: none; /* Remove default styling */
}

form button {
    background-color: #D11648; /* raspberry red search button to match the background image */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

form select:focus, form button:focus {
    outline: none;
    border-color: #D11648;
    box-shadow: 0 0 0 2px rgba(30,144,255,0.4);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background-image: url('../images/background_panckaces.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    line-height: 1.6;
}

h4{
    font-size: 38px;
    color: white;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
    background-color: #D11648; /* raspberry red Register title */
    padding: 10px;
    border-radius: 4px;
}

.btn {
    background-color: #D11648; /* raspberry red sign up btn */
    color: white; /* White for contrast */
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;

}
.btn:hover {
    background-color: #7a0423; /* Darker shade of red for the hover state */
}
.form-control {
    width: 80%;
    padding: 15px;
    margin: auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.container {

    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 60%;
    max-width: 500px; /* For larger screens */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form */
}

.form-group {
    margin-bottom: 15px; /* margin for spacing */
}



.restaurant {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.restaurant:last-child {
    border: none;
}

.restaurant h3 {
    color: #000033;
    margin-top: 0;
}

.restaurant p {
    margin: 5px 0;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.back-link:hover {
    text-decoration: underline;
}

.recommendations {
    background: #fff;
    width: auto;
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}